@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* navigator-toolbox */

#main-window:not([disablechrome]) #navigator-toolbox[tabsontop=true] {
  border-bottom: 1px solid ThreeDShadow;
}

#navigator-toolbox[tabsontop=true] > toolbar:not(:-moz-lwtheme):not(#toolbar-menubar):not(#TabsToolbar),
#navigator-toolbox[tabsontop=false] > toolbar:not(:-moz-lwtheme):not(#toolbar-menubar) {
  -moz-appearance: none;
  border-style: none;
  background-color: -moz-Dialog;
}

#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar) {
  padding-top: 1px;
  padding-bottom: 1px;
}

#nav-bar:not(:-moz-lwtheme),
#nav-bar[collapsed="true"] + toolbar:not(:-moz-lwtheme),
#nav-bar[collapsed="true"] + #customToolbars + #PersonalToolbar:not(:-moz-lwtheme),
#navigator-toolbox[tabsontop="true"] > #nav-bar,
#navigator-toolbox[tabsontop="true"]:not([customizing]) > #nav-bar[collapsed="true"] + toolbar,
#navigator-toolbox[tabsontop="true"]:not([customizing]) > #nav-bar[collapsed="true"] + #customToolbars + #PersonalToolbar {
  background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
}

/* Dropmarker for folder bookmarks */
.bookmark-item[container] > .toolbarbutton-menu-dropmarker {
  display: -moz-box !important;
}

/* Tabstrip */

#TabsToolbar {
  min-height: 0;
  padding: 0;
}

#TabsToolbar[tabsontop=true]:not(:-moz-lwtheme) {
  -moz-appearance: menubar;
  color: -moz-menubartext;
  box-shadow: 0 -1px 0 rgba(0,0,0,.1) inset;
}

#TabsToolbar[tabsontop=true]:not(:-moz-lwtheme):-moz-system-metric(menubar-drag) {
  -moz-binding: url("chrome://global/content/bindings/toolbar.xml#toolbar-drag");
}

#TabsToolbar[tabsontop=false] {
  background-image: linear-gradient(to top, rgba(0,0,0,.3) 1px, rgba(0,0,0,.05) 1px, transparent 50%);
}

/* Tabs */

.tabbrowser-tab,
.tabs-newtab-button {
  position: static;
  -moz-appearance: none;
  background: linear-gradient(hsla(0,0%,100%,.2), hsla(0,0%,45%,.2) 2px, hsla(0,0%,32%,.2) 80%);
  background-origin: border-box;
  background-position: 1px 2px;
  background-size: 100% -moz-calc(100% - 2px);
  background-repeat: no-repeat;
  color: inherit;
  margin: 0;
  padding: 2px 0 4px;
  border-width: 4px 3px 0;
  border-style: solid;
  -moz-border-image: url("chrome://browser/skin/tabbrowser/tab.png") 4 3 0 fill repeat stretch;
  border-radius: 0;
  min-height: 25px; /* reserve space for the sometimes hidden close button */
}

.tabbrowser-tab:hover,
.tabs-newtab-button:hover {
  background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.2) 4px, hsla(0,0%,75%,.2) 80%);
}

.tabbrowser-tab[selected="true"] {
  background-image: linear-gradient(rgba(255,255,255,.8) 1px, rgba(255,255,255,.5) 3px, rgba(255,255,255,.3) 32%),
                    linear-gradient(-moz-dialog, -moz-dialog);
  color: -moz-dialogtext;
}

#main-window[tabsontop=false]:not([disablechrome]) .tabbrowser-tab[selected=true]:not(:-moz-lwtheme) {
  background-image: linear-gradient(to top, rgba(0,0,0,.3) 1px, transparent 1px),
                    linear-gradient(rgba(255,255,255,.8) 1px, rgba(255,255,255,.5) 3px, rgba(255,255,255,.3) 32%),
                    linear-gradient(-moz-dialog, -moz-dialog);
}

.tabbrowser-tab[selected="true"]:-moz-lwtheme {
  background-image: linear-gradient(rgba(255,255,255,.8) 1px, rgba(255,255,255,.5) 3px, rgba(255,255,255,.3) 32%);
  color: inherit;
}

.tabbrowser-tab:-moz-lwtheme-brighttext:not([selected="true"]),
.tabs-newtab-button:-moz-lwtheme-brighttext {
  background-image: linear-gradient(hsla(0,0%,60%,.6), hsla(0,0%,40%,.6) 4px, hsla(0,0%,30%,.6) 80%);
}

.tabbrowser-tab:-moz-lwtheme-brighttext:not([selected="true"]):hover,
.tabs-newtab-button:-moz-lwtheme-brighttext:hover {
  background-image: linear-gradient(hsla(0,0%,80%,.6), hsla(0,0%,60%,.6) 4px, hsla(0,0%,45%,.6) 80%);
}

.tabbrowser-tab:-moz-lwtheme-darktext:not([selected="true"]),
.tabs-newtab-button:-moz-lwtheme-darktext {
  background-image: linear-gradient(hsla(0,0%,100%,.5), hsla(0,0%,60%,.5) 4px, hsla(0,0%,45%,.5) 80%);
}

.tabbrowser-tab:-moz-lwtheme-darktext:not([selected="true"]):hover,
.tabs-newtab-button:-moz-lwtheme-darktext:hover {
  background-image: linear-gradient(hsla(0,0%,100%,.5), hsla(0,0%,80%,.5) 4px, hsla(0,0%,60%,.5) 80%);
}

.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]) {
  background-image: radial-gradient(circle farthest-corner at 50% 3px, rgba(233,242,252,1) 3%, rgba(172,206,255,.75) 40%, rgba(87,151,201,.5) 80%, rgba(87,151,201,0));
}
.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]):hover {
  background-image: linear-gradient(hsla(0,0%,100%,.8), hsla(0,0%,100%,.6) 2px, hsla(0,0%,75%,.2) 80%),
                    radial-gradient(circle farthest-corner at 50% 3px, rgba(233,242,252,1) 3%, rgba(172,206,255,.75) 40%, rgba(87,151,201,.5) 80%, rgba(87,151,201,0));
}

/* Application button menu */

#appmenu-toolbar-button {
  -moz-appearance: none;
  background: -moz-linear-gradient(rgb(247,182,82), rgb(215,98,10) 95%);
  background-clip: padding-box;
  border-radius: 4px 4px 0 0;
  border: 1px solid rgba(83,42,6,.9);
  border-bottom: none;
  box-shadow: 0 1px 0 rgba(255,255,255,.25) inset,
              0 0 0 1px rgba(255,255,255,.25) inset;
  color: white;
  text-shadow: 0 0 1px rgba(0,0,0,.7),
               0 1px 1.5px rgba(0,0,0,.5);
  font-weight: bold;
  padding: 0 .5em;
  margin: 1px 0 0;
  -moz-margin-end: .5em;
}

#appmenu-toolbar-button > .toolbarbutton-menu-dropmarker {
  -moz-appearance: none !important;
  list-style-image: url("chrome://browser/skin/appmenu-dropmarker.png") !important;
  width: auto;
  height: auto;
  padding: 0;
  -moz-margin-start: .5em;
}

#appmenu-toolbar-button > .toolbarbutton-text,
#appmenu-toolbar-button > .toolbarbutton-menu-dropmarker {
  margin-top: -2px !important;
  margin-bottom: -2px !important;
}

/* Add-on bar */

#addon-bar {
  box-shadow: 0 1px 0 rgba(0,0,0,.15) inset;
  padding: 0;
  min-height: 20px;
}